*,*::after,*::before{
    margin:0;
    padding:0;
    box-sizing: border-box;

}

#header{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
#header-img{
    width:50%;
}

#nav-bar ul{
    width:100%;
    list-style: none;
    text-transform: capitalize;
    font-family:cursive;
    display: flex;
    flex-flow:row wrap;
    justify-content:center;
    align-items: center;
}
#nav-bar ul li{
    display: inline-block;
}
.nav-link{
    text-decoration: none;
    padding:0.5em;
    color:black;
}


@media only screen  and(max-width:500px){
#header{
    flex-direction: column;
    flex-wrap: wrap;
}
#header-img{
    width:100%;
}
    
}